{{ define "cakes" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/catalog.css">
    <title>Bakery каталог</title>
</head>
<body class="body">
    <div id="preloader">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
        </div>
    </div>
    <div id="content">
    <div class="body__background1">
        <header class="header">
            <div class="header__navigation">
                <a href="/#section3_2" class="header__link">Обо мне</a>
                <a href="/#section2" class="header__link">Мои хиты</a>
                <a href="/#section4" class="header__link">Новые вкусы</a>
            </div>
            <h1 class="header__logo">
                Bakery
            </h1>
            <div class="header__navigation">
                <a href="/catalog/cakes" class="header__link">Каталог</a>
                <a href="/#section5" class="header__link">Заказать</a>
                <a href="/#section5" class="header__link">Контакты</a>
            </div>
        </header>
    </div>
    <div class="body__background1_mobile" style="display: none;">
        <header class="header">
            <div class="header__navigation">
                <a href="/#section3_2" class="header__link">Обо мне</a>
                <a href="/#section2" class="header__link">Мои хиты</a>
                <a href="/#section4" class="header__link">Новые вкусы</a>
            </div>
            <h1 class="header__logo">
                Bakery
            </h1>
            <div class="header__navigation">
                <a href="/catalog/cakes" class="header__link">Каталог</a>
                <a href="/#section5" class="header__link">Заказать</a>
                <a href="/#section5" class="header__link">Контакты</a>
            </div>
            <div class="menu-container">
                <button class="menu-button" id="menu-button" onclick="toggleMenu()"></button>
                <button class="menu-button close-button" id="close-button" onclick="toggleMenu()">✕</button>
            </div> 
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="/#section3_2">Обо мне</a>
                <a href="/#section2">Мои хиты</a>
                <a href="/#section4">Новые вкусы</a>
                <a href="/catalog/cakes">Каталог</a>
                <a href="/#section5">Заказать</a>
                <a href="/#section5">Контакты</a>
            </div>
        </header>
    </div>
    <div class="body__background2">
        <div class="catalog">
            <h2 class="catalog__header">
                Каталог
            </h2>
            <div class="catalog__navigation">
                <a href="/catalog/cakes" class="catalog__link" style="border-bottom: 2px solid #604f52;color: #604f52;">Торты</a>
                <a href="/catalog/cookies" class="catalog__link">Печеньки и пироженные</a>
            </div>
            <div class="catalog__cards">
                    <a href="/catalog/cakes/?id=1" class="catalog__card">
                        <img src="/static/images/cakes/cake1.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #1</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=2" class="catalog__card">
                        <img src="/static/images/cakes/cake2.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #2</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=3" class="catalog__card big-card">
                        <img src="/static/images/cakes/cake3.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #3</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=4" class="catalog__card">
                        <img src="/static/images/cakes/cake4.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #4</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=5" class="catalog__card">
                        <img src="/static/images/cakes/cake5.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #5</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=6" class="catalog__card">
                        <img src="/static/images/cakes/cake6.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #6</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=7" class="catalog__card big-card">
                        <img src="/static/images/cakes/cake7.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #7</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=8" class="catalog__card">
                        <img src="/static/images/cakes/cake8.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #8</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=9" class="catalog__card">
                        <img src="/static/images/cakes/cake9.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #9</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=10" class="catalog__card">
                        <img src="/static/images/cakes/cake10.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #10</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=11" class="catalog__card big-card">
                        <img src="/static/images/cakes/cake11.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #11</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=12" class="catalog__card">
                        <img src="/static/images/cakes/cake12.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #12</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=13" class="catalog__card">
                        <img src="/static/images/cakes/cake13.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #13</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=14" class="catalog__card">
                        <img src="/static/images/cakes/cake14.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #14</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
                    <a href="/catalog/cakes/?id=15" class="catalog__card">
                        <img src="/static/images/cakes/cake15.jpg" alt="" class="card__image">
                        <p class="card__text">Торт #15</p>
                        <p class="card__cost">2500 руб за 1 кг</p>
                    </a>
            </div>
        </div>
    </div>
    <div class="body__background5">
        <footer class="footer">
            <h1 class="footer__logo">Bakery</h1>
            <div class="footer__navigation">
                <a href="/#section2" class="footer__link">Мои хиты</a>
                <a href="/#section3" class="footer__link">Обо мне</a>
                <a href="/#section4" class="footer__link">Новые вкусы</a>
                <a href="/catalog/cakes" class="footer__link">Каталог</a>
                <a href="/#section5" class="footer__link">Заказать</a>
            </div>
        </footer>
    </div>
    </div>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("dropdown-menu");
            var openButton = document.getElementById("menu-button");
            var closeButton = document.getElementById("close-button");
            var header = document.getElementsByClassName("header")[0];
            if (menu.classList.contains("show")) {
              // Закрываем меню
                menu.classList.remove("show");

                setTimeout(function() {
                menu.style.display = "none";
              }, 500); // Ждем завершения анимации
              // Переключаем видимость кнопок
                closeButton.style.display = "none";
                openButton.style.display = "inline-block";
                header.classList.remove("fixed");
            } else {
              // Открываем меню
                menu.style.display = "block";

                setTimeout(function() {
                menu.classList.add("show");
              }, 10); // Небольшая задержка для плавной анимации
              // Переключаем видимость кнопок
                openButton.style.display = "none";
                closeButton.style.display = "inline-block";
                header.classList.add("fixed");
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            // Как только страница загружена
            window.addEventListener("load", function() {
                let preloader = document.getElementById("preloader");
                let content = document.getElementById("content");

                // Ждем, пока все полоски завершат свою анимацию
                setTimeout(function() {
                    preloader.classList.add('fade-out'); // Добавляем анимацию исчезновения экрана загрузки
                    setTimeout(function() {
                        preloader.style.display = 'none'; // Скрываем preloader после исчезновения
                        content.classList.add('visible'); // Показываем контент с плавным переходом
                    }, 500);  // Задержка для завершения анимации исчезновения preloader
                }, 1500); // Время завершения анимации полосок загрузки
            });
        });
    </script>
</body>
</html>
{{ end }}